    body {
        color: #FFF;
        background-color: #03031A;
    }

    .main {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 1px;
        width: 1px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: -24vw -44vh 5px 5px #fff,-24vw -44vh 2px 2px #fff, 38vw -4vh 0px 0px #fff, -20vw -48vh 1px 2px #fff, -39vw 38vh 3px 1px #fff, -42vw -11vh 0px 3px #fff, 12vw 15vh 3px 3px #fff, 42vw 6vh 3px 2px #fff, -8vw 9vh 0px 2px #fff, 34vw -38vh 1px 0px #fff, -17vw 45vh 3px 1px #fff, 22vw -36vh 3px 2px #fff, -42vw 1vh 1px 0px #fff;
        animation: zoom 4s alternate infinite;
    }

    @keyframes zoom {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.5);
        }
    }


    .navbar {
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
    }

    .hide {
        display: none;
    }

    .list-streaming {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .content-panel {
        height: 6em;
        width: 10em;
        margin: .2em .7em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
    }


    .advertising .content-panel {
        width: 350px;
        height: 250px;
        text-align: center;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0px;
    }

    .advertising-hide .content-panel-hide {
        width: 728px;
        height: 90px;
        text-align: center;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .containers {
        padding: 0 5%;
    }

    .slick-arrow {
        background: transparent;
        z-index: 997;
        color: rgb(238, 255, 0);
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
        position: absolute;
        top: 20%;
        cursor: pointer;
        font-size: 1.2em;
        border-radius: 50%;
        padding: 0;
        width: 2em;
        height: 2em;
        text-align: center;
    }

    .slick-arrow i {
        position: relative;
        top: .3em;
    }

    .slick-arrow.prev-arrow {
        left: -10px;
    }

    .slick-arrow.next-arrow {
        right: -10px
    }

    .slick-list {
        position: relative;

        display: block;
        overflow: hidden;

        margin: 0;
        padding: 0;
    }

    .embed-responsive {
        height: 500px;
    }

    .stream-data {
        background-color: #cecece;
        margin-right: 1em;
        border-radius: 10px;
        width: 150px;
        text-align: center;
    }

    .flex {
        display: flex;
        justify-content: space-between;

    }

    .flex-ads {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        display: flex;
        justify-content: center;
        width: 750px;
        margin: 0 auto;

    }

    @media (max-width: 1500px) {


        .advertising .content-panel {
            width: 100%;
        }

        .flex-ads {
            flex-direction: column;
        }

    }


    @media (max-width: 1200px) {}


    @media (max-width: 1500px) {

        .advertising .content-panel {
            width: 100%;
        }


    }

    @media (max-width: 987px) {

        .advertising .content-panel {
            width: 350px;
        }

        .advertising {
            margin-top: 2em;
        }
    }

    @media (max-width: 763px) {
        .advertising-hide .content-panel-hide {
            width: 370px;
            height: 45px;
        }

    }

    @media (max-width: 565px) {
        .slick-arrow.prev-arrow {
            left: -10px;
        }

        .slick-arrow.next-arrow {
            right: -2px
        }

        .embed-responsive {
            height: 300px;
        }

        .advertising-hide .content-panel-hide {
            width: 230px;
            height: 25px;
        }


    }

    @media (max-width: 437px) {}

    .list-group {
        margin-bottom: 10px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        max-height: 300px;
    }
    .card{
        background: transparent;
    }
    .progress{
        height: 25px;
    }

